<div class="title">
  <h1>Articles</h1>
</div>
<div class="table-wrapper">
  <%= render 'article' %>
</div>
<%= will_paginate @articles %>

<% if logged_in? %>
  <%= button_to "New article", { action: "new"}, { method: :get, class: 'gc-button' } %>
<% end %>