<% if obj.errors.any? %>
  <div class="alert alert-danger">
    <h4 class="alert-heading">The following errors prevented the <%= obj.class.name.downcase %> from being <%= if obj.instance_of? User "registered"
                                                                                                               else "saved"
                                                                                                               end%></h4>
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <button class="gc-close-button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>