/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    --main-color: #4FC3A1;
    --secondary-color: #324960;
    --custom-gray: #F8F8F8;
    --custom-dark-gray: #8F8F8F;
    --fancy-red: #FF8A80;
    --fancy-dark-red: #C85A54;
    --fancy-yellow: #FFF176;
    --fancy-dark-yellow: #CABF45;
    --fancy-green: #A5D6A7;
    --fancy-dark-green: #75A478;
}

@font-face {
    font-family: 'league-spartan';
    font-style: normal;
    font-weight: 400;
    src: url('LeagueSpartan.ttf') format('truetype');
}

* {
    font-family: 'league-spartan';
    box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
}

*:focus,
*:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

textarea {
    resize: none;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:visited {
    color: var(--secondary-color);
}

a:hover {
    text-decoration: underline;
}

.secondary {
    background: var(--secondary-color) !important;
    color: white !important;
}

.title {
    color: var(--secondary-color);
    display: block;
    margin: auto;
}

.title h1 {
    text-align: center;
}

body {
    font-size: 25px;
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
}

h2{
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.06rem;
    color: white;
    padding: 1.5rem 0;
}

/* Generic Custom Button */

.gc-button-group {
    display: flex;
    justify-content:center;
}

.gc-button-group .gc-button {
    margin: 1rem !important;
}

.gc-button {
    pointer-events: auto;
    cursor: pointer;
    border: none;
    border-radius: 0.25rem;
    color: white;
    background: var(--main-color);
    padding: 0.8rem 1.1rem;
    font-size: inherit;
    position: relative;
    display: block;
    margin: auto;
    text-decoration: none;
}

.gc-button-link {
    cursor: pointer;
    border: none;
    border-radius: 0.25rem;
    color: white;
    background: var(--main-color);
    padding: 0.8rem 1.1rem;
    font-size: inherit;
    position: relative;
    display: block;
    margin: 1rem auto;
    text-decoration: none;
    width: fit-content;
}

.gc-button:hover {
    transition: 0.4s;
    color: var(--main-color);
    background: var(--secondary-color);
}

.gc-icon-button {
    padding: 0.25rem 0.3rem;
    color: var(--secondary-color)
}

/* Table Styles */

.table-wrapper{
    margin: 0.5rem 2.5rem 2.5rem;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 0.2rem;
    font-size: 1.3rem;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 0.3rem;
}

.fl-table td {
    border-right: 0.04rem solid #f8f8f8;
}

.fl-table thead th {
    color: white;
    background: var(--main-color);
}


.fl-table thead th:nth-child(odd) {
    color: white;
    background: var(--secondary-color);
}

.fl-table tr:nth-child(even) {
    background: var(--custom-gray);
}

/* Responsive Table Styles */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

/* Navigation bar styles */

nav {
    margin: auto;
    background: #f9f9f9;
    padding: 1rem;
    width: 80%;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 1px 4px 50px 21px rgba(0,0,0,0.08);
    -webkit-box-shadow: 1px 4px 50px 21px rgba(0,0,0,0.08);
}
nav .menu-items {
    list-style: none;
    padding: 0;
}
nav .menu-items li {
    margin: 3rem;
    display: inline;
    text-align: center;
}
nav .menu-items li a {
    text-decoration: none;
    color: var(--custom-dark-gray);
    font-size: 1.5rem;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
nav .menu-items li a::before {
    content: attr(data-item);
    transition: 0.5s;
    color:  var(--main-color);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
}
nav .menu-items li a:hover::before {
    width: 100%;
    transition: all 0.5s ease-in-out;
}

/* Form Styles */

.gc-form {
    display: block;
    margin: auto 0;
    text-align: center;
    font-size: 1.7rem;
}

.gc-form-label {
    margin: 0.5rem;
}

.gc-form .gc-form-input {
    font-size: 1.7rem;
    height: 3rem !important;
    width: 15rem !important;
    margin: 0.5rem !important;
    text-align: center;
    border-style: double;
    border-width: 1px;
    border-radius: 0.5rem;
    border-color: var(--secondary-color);
    padding: 0.5rem;

}

.gc-form .gc-form-input:focus {
    border-color: var(--main-color);
}

.gc-form .gc-form-input::-webkit-input-placeholder {
    font-size: 1rem;
    text-align: center;
}

.gc-form .gc-form-textarea {
    font-size: 1.7rem;
    height: 7rem;
    width: 15rem;
    margin: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border-color: var(--secondary-color);
    padding: 0.5rem;
}

.gc-form .gc-form-textarea:focus {
    border-color: var(--main-color);
}

.gc-form .gc-form-button {
    margin: 0 auto;
    display: block;
}

/* Card Styles */

.article-card {
    margin: 2rem;
    display: block;
    padding: 2rem;
    background-color: var(--custom-gray);
    border-radius: 1rem;
    box-shadow: 1px 4px 50px 21px rgba(0,0,0,0.08);
    -webkit-box-shadow: 1px 4px 50px 21px rgba(0,0,0,0.08);
}

.article-card .article-card-id {
    display: initial;
    padding: 1rem;
    font-size: 3rem;
    width: 1rem;
    height: 1rem;
    border-radius: 3rem;
    margin: auto;
    background: var(--main-color);
}

.article-card .article-card-title {
    display: block;
}

.article-card .article-card-description {
    display: block;
}

.article-card .article-card-username {
    text-align: right;
}

.article-card .article-card-username div {
    background-color: var(--secondary-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: inline;
    color: white;
}
/* User cards and profile Styles */

.user-card-container {
    margin: auto 5rem;
    display: block;
}

.user-card-container .user-card {
    margin: 5rem 10rem;
    background: var(--custom-gray);
    padding: 1rem;
    border-radius: 3rem;
    -webkit-box-shadow: 7px 7px 50px 19px rgba(0,0,0,0.23);
    box-shadow: 7px 7px 50px 19px rgba(0,0,0,0.23);
}

.user-card-container .user-card .user-card-username {
    text-align: center;
}

.user-card-container .user-card .user-card-articles-number {
    margin: 1rem auto;
    text-align: center;
}

/* Show User styles */

.profile-username {
    text-align: center;
}

.profile-image {
    display: block;
    margin: auto;
    border-radius: 3rem;
}

/* Error card styles */
.gc-alert {
    margin: auto;
    display: block;
    border-radius: 0.5rem;
    align-items: center;
    padding:1.5rem;
}

.gc-alert-success {
    background-color: var(--fancy-green);
    border-color: var(--fancy-dark-green);
}

.gc-alert-danger {
    background-color: var(--fancy-red);
    border-color: var(--fancy-dark-red);
}

.gc-alert-warning {
    background-color: var(--fancy-yellow);
    border-color: var(--fancy-dark-yellow);
}

.gc-alert .gc-close-button {
    display: block;
    position: relative;
    float: right;
    font-size: 3rem;
    background: none;
    border: none;
}

.gc-alert .gc-close-button:hover {
    color: var(--custom-gray);
}

/*
Overriding ruby custom styles
 */

.field_with_errors > .gc-form-input, .field_with_errors > .gc-form-textarea {
    border-color: var(--fancy-red);
}