<div class="gc-messages-container">
  <% flash.each do |name, msg| %>
    <div class="alert alert-success" role="alert">
      <%= msg %>
      <button class="gc-close-alert-button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
</div>