<nav>
  <ul class="menu-items">
    <li>
      <%= link_to "Home", root_path, data: { item: 'Home' } %>
    </li>
    <li>
      <%= link_to "Articles", articles_path, data: { item: 'Articles' } %>
    </li>
    <li>
      <%= link_to "Bloggers", users_path, data: { item: 'Bloggers' } %>
    </li>
    <li>
      <%= link_to "About", about_path, data: { item: 'About' } %>
    </li>
  </ul>
</nav>